body{
    background-image: linear-gradient(to top, #0c3483 0%, #a2b6df 100%, #6b8cce 100%, #a2b6df 100%);   
}
.col-md-5{
    margin-top: 150px !important;
    background-color: beige;
}
h1{
    text-align: center !important;
    font: bold !important;
    margin: auto !important;
}
button{
    margin-left: 10px !important;
    background-color: whitesmoke !important;
}
input{
    display:inline !important;
    border:3px solid black !important;
    width:85% !important;
}
li{
    list-style-type: none;
    font-size: 20px;
    text-align: center;
    width: 70%;
}
i{
    color:red;
}